// Navigation Styles here
nav{
    .flexit(@just: flex-end);
    h1{
        width: 20%;
        margin-right: 40%;
        padding: 2% 0;
    }
    .links{
        padding: 4% 1%;
        font-size: 2rem;
        text-decoration: none;
        color: black;
    }
    border-bottom: 0.2rem dashed #C0C0C0;
}